@import "tailwindcss";

body {
    font-family: "JetBrains Mono", monospace;
}
@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    -webkit-text-fill-color: white !important;
  }
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 10px;
  border: 2px solid #0a0a0a; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}



