@import "tailwindcss";

body {
    font-family: "JetBrains Mono", monospace;
}
@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    -webkit-text-fill-color: white !important;
  }
}


